RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "## RAG Pipeline & Chatbot\n",
        "height": 80,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -160
      ],
      "typeVersion": 1,
      "id": "65daeddc-8f00-4ee8-9304-423f30ec6848",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b5QGPhtdwujXIM-4RNAOx47nNygQ2R5x",
          "mode": "list",
          "cachedResultName": "FAQ_RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b5QGPhtdwujXIM-4RNAOx47nNygQ2R5x"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6049b6ba-66ad-4d54-8466-df8a63edff95",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wOt4VszM88KsLTLm",
          "name": "shrinidhiganesan0507@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "427b6eb3-d7e9-4bdd-8c29-77ed675f8e72",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wOt4VszM88KsLTLm",
          "name": "shrinidhiganesan0507@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "db94b1fd-9953-4cb2-9fa3-49f087daa980",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "h3WTQdi0BjBF6CQq",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "e0eeaf51-7822-42af-9553-8721d9c21d58",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "MXTQzsXTY6FGeE40",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "1f2ac88d-e34c-4784-a876-3ed00ce968fe",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "c30637a5-60db-4249-b553-d7d77883f8f0",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        0
      ],
      "id": "770614d5-aa75-4ff3-98fe-cee5e32b24db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        976,
        0
      ],
      "id": "ecf48072-d997-4b5b-99cc-7c3c7d50b3cf",
      "name": "When chat message received",
      "webhookId": "6a7cde52-6ae1-4d3f-8526-5fdbf4f7a3e8"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "9ec2c1d3-7a13-4c3e-b762-7d77a4d82018",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "R424p7FPvUN4hyr4",
          "name": "Rag"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1200,
        208
      ],
      "id": "1c5d2f3c-4e5e-4c98-b465-a53498e31848",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "h3WTQdi0BjBF6CQq",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        336
      ],
      "id": "05bffcc7-494a-4bf0-9036-dababf86f6e1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "MXTQzsXTY6FGeE40",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f03bc5f-d83a-473f-90b6-bae55a0f4da1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf5af181323fa8b0c6c8c6f5d19b4ec2fb5da1168928db7f09fe71e74efccfb3"
  },
  "id": "Cik5Z2cgbiN38KL0",
  "tags": []
}